$mainBlue: #2f5572;
$mainOrange: #d59541;
$mainTan: #c4bdb4;
$liteTan: #e2deda;
$liteTanGrad: #f4f2f1;

$liteGray: #fafafa;
$liteMediumGray: #dadada;
$deepGray: #262626;
$baseGray: #393939;
$hoverGray: #46525e;

$buttonBlue: #4181d5;
$logo: rgba(47, 85, 114, 0.95);
