$mainBlue: #2f5572;
$mainOrange: #d59541;
$mainTan: #c4bdb4;
$liteTan: #e2deda;

$liteGray: #fafafa;
$liteMediumGray: #dadada;
$deepGray: #262626;
$baseGray: #393939;

$buttonBlue: #4181d5;
$logo: rgba(47, 85, 114, 0.95);
