.about-cindy-section {
  &__t-padding {
    @mixin atSmall {
      padding-top: 20px;

      @mixin atMedLand {
        padding-top: 0;
      }
    }
  }

  &__image {
    @mixin atSmall {
      width: 100%;
      margin-left: 0;
    }

    @mixin atMedLand {
      width: 100%;
      margin-left: 0;
    }

    @mixin atSmallLand {
      width: 25%;
      margin-left: 60px;
    }

    @mixin atLarge {
      width: 100%;
      margin-left: 0;
    }
  }

  &__h2 {
    @mixin atSmall {
      margin: 0 0 4.8rem 7.72rem;
      width: 100%;
    }

    @mixin atMedLand {
      margin: 0 0 4.8rem 0;
    }

    @mixin atLarge {
      margin: 0 0 4rem 0;
      width: 100%;
    }
  }
}
