.about-cindy-section {
  background-color: rgba(213, 149, 65, 0.1);

  @mixin 800plus {
    padding-bottom: 6rem;
  }

  &--grid {
    display: block;
    margin-right: auto;
    margin-left: auto;

    @mixin 530plus {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 500px 1fr;
      grid-row-gap: 2rem;
      grid-column-gap: 6rem;
      justify-items: start;
    }

    @mixin 530plus and (max-width: 1199px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 400px 1fr;
      grid-row-gap: 2rem;
      grid-column-gap: 6rem;
      justify-items: start;
    }
  }

  &--portrait {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    @mixin 530plus and (orientation: landscape) and (max-width: 799px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    @mixin 800plus and (orientation: landscape) and (max-width: 1199px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @mixin 1200plus {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  &__image {
    display: block;
    width: 360px;
    margin: 0 auto 2rem auto;
    border-radius: 0.8rem;

    @mixin 1200plus {
      width: 400px;
    }
  }

  &--blockquote {
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;

    @mixin 530plus {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    /* @mixin 530plus and (orientation: landscape) and (max-width: 799px) {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    } */

    @mixin 800plus {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @mixin 1200plus {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      align-self: center;
    }
  }

  &--bio {
    column-count: 1;
    border-radius: 0.8rem;

    @mixin 530plus and (max-width: 799px) {
      border: 1px solid rgba(0, 0, 0, 0.15);
      padding: 6rem 5rem 6rem 5rem;
      background-color: #f8f8f8;
    }

    @mixin 800plus {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      column-count: 1;
    }

    @mixin 530plus and (orientation: landscape) and (max-width: 1099px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  &--testimonials {
    width: 100%;
    /* border-radius: 0.8rem; */
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;

    @mixin 530plus and (max-width: 799px) {
      border: 1px solid rgba(0, 0, 0, 0.15);
      /* padding: 6rem 5rem 6rem 5rem; */
      background-color: #f8f8f8;
    }

    @mixin 800plus {
      display: flex;
      justify-content: space-between;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      column-count: 1;
    }

    @mixin 530plus and (orientation: landscape) and (max-width: 1099px) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      margin-top: 3rem;
    }

    & p {
      font-size: 1.75rem;
      color: $baseGray;
      letter-spacing: 0.08rem;
    }
  }

  &--testimonial {
    width: 100%;
    /* background-color: pink; */
    &:last-of-type {
      margin-bottom: 0;
    }
    &-header {
      display: flex;
      /* flex-direction: column; */
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      /* background-color: #e8e8e8; */
      background-color: rgb(240, 234, 226);
      margin-right: 0;
      padding-right: 1rem;
      font-size: 3rem;
      font-style: normal;
      font-family: "Open Sans";
      color: #e8e8e8;

      @mixin 800plus {
        width: 47%;
        color: $mainBlue;
      }

      /* padding: 2rem 4rem; */

      & p {
        width: 85%;
        font-size: 2.8rem;
        text-align: right;
        color: $mainBlue;
      }

      & img {
        max-height: 7rem;
      }
    }
    &-copy {
      width: 100%;
      padding-top: 5rem;
      background-color: transparent;
      overflow: scroll;
      /* border: 2px solid #e8e8e8; */
    }
  }
}

#about-cindy {
  position: relative;
}
