.about-barton-section {
  &--grid {
    display: block;

    @mixin 800plus {
      display: grid;
      grid-template-columns: 30% 40% 30%;
      grid-template-rows: 1fr 500px 260px;
      grid-row-gap: 6rem;
      grid-column-gap: 0rem;
    }
  }

  &--img--image {
    display: block;
    width: 400px;
    /* margin: 4rem auto 2rem auto; */
    margin: 0;
    border-radius: 8px;
  }

  &--intro {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-self: center;
    background: linear-gradient(white, #f4f2f1);
    border: 1px solid rgba(244, 242, 241, 0.5);

    &--p {
      padding: 4rem 3rem 2rem 3rem;
      margin: 0;

      @mixin 1200plus {
        padding: 4rem 10rem 4rem 12rem;
      }
    }
  }

  &--list {
    background: linear-gradient(#f4f2f1, white);
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 4rem 0 2rem 0;
    display: grid;

    & li:last-of-type {
      width: 80%;
    }

    @mixin 800plus {
    }

    @mixin 1200plus {
      padding: 4rem 0 2rem 0;
    }

    &--header {
      padding: 0 4rem 0 3rem;

      @mixin 800plus {
        padding: 0 4rem 0 5rem;
      }
    }

    &-wrap {
      padding-left: 0.2rem;

      @mixin 530plus {
        padding-left: 8rem;
      }

      @mixin 530plus and (max-width: 1199px) {
        padding-left: 0rem;
      }
    }

    &--conclusion {
      background: radial-gradient(white, #dce4ea);
      border-top: 1px solid #ddd;
      border-right: 1px solid transparent;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid transparent;
      margin: 4rem 0 0 0;
      font-size: 2rem;
      text-align: center;
      letter-spacing: 0.2rem;
      line-height: 2.6rem;
      padding: 0 4rem 3.3rem 4rem;

      @mixin 800plus {
        width: 100%;
      }
    }
  }

  &--blockquote {
    /* padding-top: 17rem; */
    padding-left: 8rem;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @mixin 530plus {
      padding: 6rem 4rem 1rem 6rem;
    }

    @mixin 800plus {
      padding-top: 12rem;
    }

    /* @mixin 530plus and (orientation: landscape) and (max-width: 799px) {
      padding-top: 7rem;
    } */

    @mixin 800plus {
      grid-row: 2 / 4;
      /* padding-top: 17rem; */
      padding-left: 4rem;
    }

    & span {
      font-size: 1.2rem;
    }

    &-p {
      line-height: 3.5rem;
      padding-bottom: 2rem;

      @mixin 800plus {
        line-height: 3rem;
      }

      @mixin 1200plus {
        line-height: 4.5rem;
      }
    }
  }

  &--local-market {
    margin-top: 0;
    display: inline-grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    justify-items: center;
    background-color: rgba($liteGray, 0.88);
    border-top: 1px solid $liteMediumGray;
    border-right: 0 solid $liteMediumGray;
    border-bottom: 1px solid $liteMediumGray;
    border-left: 0 solid $liteMediumGray;

    @mixin 530plus {
    }

    @mixin 800plus {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      grid-template-rows: 190px;
    }

    @mixin 530plus and (max-width: 1199px) {
    }

    @mixin 1200plus {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      grid-template-rows: 240px;
    }

    &--p {
      display: inline-block;
      grid-column: 2 / 4;
      text-align: right;
      padding: 2rem 5rem 2rem 2rem;
      margin: 0;

      @mixin 530plus {
      }

      /* @mixin 530plus and (orientation: landscape) and (max-width: 799px) {
        justify-self: start;
        align-self: start;
      } */

      @mixin 800plus {
        align-self: center;
      }

      @mixin 530plus and (max-width: 1199px) {
        max-width: 85%;
      }

      @mixin 1200plus {
      }
    }

    &--image {
      display: inline-block;
      margin-top: 2rem;
      border-radius: 0.6rem;

      @mixin 530plus {
        display: inline-block;
        margin-top: 0;
        grid-column: 1 / 2;
        align-self: center;
      }

      @mixin 800plus {
        align-self: center;
      }

      @mixin 530plus and (max-width: 1199px) {
      }

      @mixin 1200plus {
      }
    }
  }

  /* & picture {
    display: grid;
  } */
}
