.about-cindy-section {
  & .row__medium-9 {
    @mixin 1200plus {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 90px;
      -moz-column-gap: 90px;
      column-gap: 90px;
      -webkit-column-rule: 1px solid rgba(0, 0, 0, 0.15);
      -moz-column-rule: 1px solid rgba(0, 0, 0, 0155);
      column-rule: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

  &__t-padding {
    @mixin 530plus {
      padding-top: 20px;

      @mixin 800plus {
        padding-top: 0;
      }
    }
  }

  & .row__medium-9 {
    @mixin 530plus {
      width: 100%;
      margin: 0 auto;

      @mixin 800plus {
        width: 75%;
      }
    }

    @mixin 1060plus {
      width: 75%;
      margin: 0 auto;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 50%;
    text-align: center;
    margin: 0 auto 40px;

    @mixin 800plus {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    @mixin 530plus {
      width: 25%;
      margin-left: 0;
    }

    @mixin 1060plus {
      width: 100%;
      margin-left: 0;
    }
  }

  &__h2 {
    @mixin 530plus {
      margin: 0 0 4.8rem 7.72rem;
      width: 100%;
    }

    @mixin 800plus {
      margin: 0 0 4.8rem 0;
    }

    @mixin 1060plus {
      margin: 0 0 4rem 0;
      width: 100%;
    }
  }
}

#about-cindy {
  position: relative;
}
