.badges {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 1rem;

  @mixin 800plus {
    padding: 2rem 0rem;
  }

  @mixin 1200plus {
    padding: 2rem 6rem;
  }

  @mixin 800plusland {
    padding: 0 0;
    justify-content: space-between;
  }
}

.badge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  background-color: $mainBlue;
  min-width: 100%;
  max-width: 100%;
  border: 5px solid $liteMediumGray;
  border-radius: 5rem;
  padding: 0 2rem;

  @mixin 530plus {
    min-width: 72%;
    max-width: 72%;
    justify-content: space-around;
  }

  @mixin 800plus {
    flex-direction: row;
    min-width: 30%;
    max-width: 40%;
  }

  @mixin 800plusland {
    min-width: 42%;
    max-width: 42%;
    height: auto;
    padding: 0 0;
    justify-content: flex-start;
  }

  @mixin 1200plus {
    min-width: 30%;
    max-width: 30%;
    height: auto;
    padding: 0 0;
    justify-content: flex-start;
  }

  &__p {
    color: $liteGray;
    font-size: 1.8rem;
    text-align: center;
    margin-block-end: 3rem;
    margin-block-start: 3rem;
    line-height: 1.2;
    margin: 0 0 0 0;
    align-self: center;

    & span {
      color: #bbd;
    }
  }

  &__image {
    transform: scale(0.8);
    background-color: $liteGray;
    border: 5px solid $liteMediumGray;
    border-radius: 50%;
    padding: 1rem;

    @mixin 800plusland {
      transform: scale(0.5);
    }
  }

  &:hover {
    background-color: #666;
  }

  &__section-p {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    margin: 0;

    @mixin 800plus {
      font-size: 1.5rem;
      padding-left: 8rem;
      padding-right: 4rem;
      padding-top: 0;
    }

    @mixin 1200plus {
      padding-left: 14rem;
      padding-right: 10rem;
    }

    & a {
      font-weight: 600;
    }
  }

  &--wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    background-color: rgba($liteGray, 0.7);
    padding: 2rem;
    border: 2px solid $liteMediumGray;

    @mixin 800plus {
      flex-direction: row;
      border-radius: 4rem / 8rem;
    }

    &--slidein {
      color: $baseGray;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 2rem 2.4rem;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      margin-top: -3.1rem;
      /* background: radial-gradient(white, white, $liteGray, $liteGray, #ececec); */
      border-top: 0 solid transparent;
      border-right: 1px solid $liteMediumGray;
      border-bottom: 1px solid $liteMediumGray;
      border-left: 1px solid $liteMediumGray;
      border-radius: 0 0 8px 8px;
      list-style-type: none;

      @mixin 800plus {
        padding: 2rem 4rem;
        width: 94%;
      }

      @mixin 1200plus {
        width: 85%;
      }

      & li {
        margin-bottom: 2rem;
        padding-bottom: 3rem;
        line-height: 2.4rem;

        @mixin 530plus {
          width: 80%;
          margin: 2rem auto;
        }

        & a {
          background: $mainOrange;
          color: white;
          border: 1px solid $liteMediumGray;
          padding: 0.5rem 1rem;
          border-radius: 6px;
          position: relative;
          left: -10px;
          top: -6px;

          &:hover {
            background-color: $liteGray;
            color: $mainOrange;
          }

          @mixin 800plus {
          }
        }
      }
    }
  }
}
