.collapsible {
  background: linear-gradient(#eee, white, white, white);
  color: $mainBlue;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-right: 1px solid $mainBlue;
  border-left: 1px solid $mainBlue;
  text-align: left;
  outline: none;
  font-size: 1.7rem;
  /* border-radius: 8px; */
  margin-bottom: 0.2rem;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: $mainBlue;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.collapsible span {
  font-size: 1.2rem;
}

.content {
  position: relative;
  padding: 0 18px;
  max-height: 0;
  height: auto;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #f1f6fa;
  border-bottom: 1px solid $mainBlue;
  border-right: 1px solid $mainBlue;
  border-left: 1px solid $mainBlue;
}
