.copyright {
  line-height: 1rem;
  color: rgba(lightblue, 0.8);
  padding-bottom: 1rem;

  & p {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
    line-height: 1.2;

    & a {
      text-decoration: none;
    }
  }
}
