.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-item {
  display: block;
  position: relative;
  top: 4rem;
  width: 100%;
  flex-basis: 100%;
  margin: 0 auto;
  margin-bottom: 9rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3rem;
  border: 1px solid rgba($mainTan, 0.5);
  background-color: khaki;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  // min-width: 100%;
  // max-width: 100%;
  transform: scale(1);
  transition: all 0.4s ease-out !important;

  @mixin 530plus {
    background-color: pink;
    flex-basis: 100%;
  }

  @mixin 800plus {
    background-color: #c2dfff;
    width: 100%;
    &:hover {
      animation: rotate 0.5 forward;
      transform: rotate(1deg);
      animation-direction: alternate;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(1deg) scale(1);
    }
    100% {
      transform: rotate(0deg) scale(1.2);
    }
  }

  @mixin 1200plus {
    min-width: 45%;
    max-width: 45%;
  }

  &__header-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    position: relative;
    top: -3.9rem;
    width: 100%;
    text-align: center;
    border: 1px solid $mainTan;
    /* outline: 1px dashed $mainTan; */
    outline-offset: -4px;
    /* border-left: 1px solid transparent; */
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(#ececec, $liteTan);
    margin: 0 auto;
    padding-bottom: 1rem;

    @mixin 800plus {
      padding-bottom: 0;
    }
  }

  &__icon {
    display: block;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 1rem;
    margin-top: 0;
    width: 50px;
    z-index: 2;

    @mixin 530plus {
      margin: 0 0 0 3rem;
    }

    @mixin 800plus {
      display: inline;
      width: 44px;
      top: 0;
    }
  }

  &__title {
    position: relative;
    align-self: center;
    left: 1rem;
    display: inline-block;
    font-size: 2.55rem;
    font-weight: 300;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: left;

    @mixin 530plus {
    }

    @mixin 800plus {
    }

    @mixin 1200plus {
      top: 0.4rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
      margin-top: 0;
    }
  }

  &__list {
    position: relative;
    top: -3rem;
    padding-top: 3rem;
    width: 100%;
    margin-left: auto;
    margin-right: 40px;
    list-style: none;
    list-style-type: none;
    border-top: 1px dashed rgba(0, 0, 0, 0.17);

    @mixin 1200plus {
      padding-right: 4rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    & li::before {
      content: "\2192";
      color: rgba($mainBlue, 0.3);
      font-weight: bold;
      font-size: 2rem;
      display: inline-block;
      width: 3rem;
      margin-left: -5rem;
    }
  }

  &__list li {
    width: 85%;
    margin: 1.5rem auto;
    color: $deepGray;
    font-size: 1.6rem;
    line-height: 1.65;
    font-weight: 200;
    letter-spacing: 0.16rem;
    // margin-bottom: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 1.2rem;
    // margin-left: 2rem;
    border-bottom: 1px solid rgba(#778899, 0.15);

    & ul li {
      list-style-type: none;
      border-bottom: 1px solid transparent;
    }
  }

  &__permission {
    font-size: 1.1rem;
    font-weight: 200;
    max-width: 80%;
    display: block;
    margin: auto;
    line-height: 2.2rem;

    @mixin 530plus {
      max-width: 500px;
      text-align: center;
    }
  }
}
