.flex-container {
  display: flex;
}

.feature-item {
  display: block;
  position: relative;
  padding-bottom: 4rem;
  margin-bottom: 4.8rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;

  @mixin atMedium {
    width: 100%;
  }

  &__header-group {
    width: 100%;
    text-align: center;
  }

  &__icon {
    display: inline;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-top: -1rem;
    width: 50px;
  }

  &__title {
    display: inline;
    font-size: 2.55rem;
    font-weight: 300;
    padding-left: 6.44rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: left;

    @mixin atSmall {
      text-align: left;
      font-size: 3rem;
      padding-left: 1.6rem;
      margin-bottom: 0;
    }

    @mixin atMedium {
      min-width: 200px;
      max-width: 240px;
      margin-top: 0;
    }

    @mixin atMedLand {
      font-size: 2rem;
      min-width: 200px;
    }
  }

  &__list {
    padding-top: 30px;
    color: white;
    font-size: 1.6rem;
    line-height: 1.65;
    font-weight: 200;
    letter-spacing: 0.16rem;

    @mixin atSmall {
      font-size: 1.8rem;
    }

    @mixin atMedLand {
      padding-top: 0;
    }
  }

  &__permission {
    font-size: 1.1rem;
    font-weight: 200;
    max-width: 80%;
    display: block;
    margin: auto;
    line-height: 2.2rem;

    @mixin atSmall {
      max-width: 800px;
    }
  }
}
