.forbrain-banner {
  text-align: center;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: radial-gradient(white, #ddd);
  padding: 1rem 0;

  @mixin 530plus {
    flex-direction: row;
  }

  & img {
    text-align: center;
    border-radius: 2rem;
    margin-right: 1rem;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 1px solid $mainBlue;
  }

  &--right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $mainOrange;
    height: 100px;
    width: 240px;
    color: white;
    text-align: center;
    box-shadow: -16px 0 6px -6px rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;

    &-p {
      margin-block-end: 0;

      & span {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 3.2rem;
        vertical-align: sub;
      }
    }

    &:hover {
      background-color: white;
      color: $mainOrange;
      border: 1px solid $mainOrange;
      cursor: pointer;
    }
  }
}
