.going-forward {
  border-top: 1px solid $mainBlue;
  padding: 8rem 0;
  background-color: white;
  background: url(../../assets/images/book-side_1800.jpg), white;
  background-repeat: no-repeat;

  /* @mixin 800plus {
    background-color: transparent;
  } */
}
