.headline {
  display: inline;
  font-weight: 300;
  font-size: 1.8rem;
  color: $mainBlue;
  width: 96%;
  margin: 0 0 60px;

  &__white {
    color: white;
  }

  @mixin atXSmall {
    font-size: 3rem;
  }

  @mixin atSmall {
    font-size: 4.6rem;
  }

  @mixin atLarge {
    font-size: 4.6rem;
  }

  @mixin atMedLand {
    font-size: 3.5rem;
  }

  &--centered {
    display: block;
    width: 100%;
    text-align: center;
  }

  &--orange {
    color: $mainOrange;
  }

  &--small {
    font-size: 1.9rem;
    @mixin atSmall {
      font-size: 3rem;
    }
  }

  &--light {
    font-weight: 100;
  }

  &--quote-attribution {
    display: inline-quote;
    font-size: 1.6rem;
    font-weight: 200;
    text-align: right;
    padding-right: 2rem;
    padding-bottom: 5rem;
    color: $mainBlue;
    margin-top: 1rem;
    border-bottom: 5px solid $mainBlue;
  }

  &--top-margin {
    margin-top: 9.6rem;

    @mixin atSmall {
      margin-top: 9.6rem;
    }
  }

  &__list {
    padding-top: 0;
    padding-left: 3rem;
    color: &mainBlue;
    font-size: 1.6rem;
    line-height: 1.65;
    font-weight: 300;
    letter-spacing: normal;

    @mixin atSmall {
      font-size: 1.8rem;
      padding-left: 6.4rem;
    }
  }
}
