.headline {
  font-weight: 300;
  font-size: 1.8rem;
  color: $mainBlue;
  background-color: #ddd;
  width: 96%;
  margin: 0 auto 22px;

  @mixin atXSmall {
    width: 100%;
    font-size: 1.9rem;
  }

  @mixin atSmall {
    width: 83%;
    font-size: 2.875rem;
  }

  @mixin atLarge {
    font-size: 2.875rem;
  }

  @mixin atMedLand {
    width: 93%;
    font-size: 2.2rem;
  }

  &--centered {
    text-align: center;
  }

  &--orange {
    color: $mainOrange;
  }

  &--small {
    font-size: 1.2rem;
    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

  &--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &--light {
    font-weight: 100;
  }

  strong {
    font-weight: 400;
  }

  &--b-margin-small {
    margin-bottom: 0.5em;
  }

  &--b-margin-large {
    margin-bottom: 1.6em;
  }

  &--no-t-margin {
    margin-top: 0;
  }

  &--no-l-margin {
    margin-left: 0;
  }

  &--quote-attribution {
    display: inline-quote;
    font-size: 1rem;
    font-weight: 200;
    text-align: right;
    padding-right: 2rem;
    padding-bottom: 5rem;
    color: $mainBlue;
    margin-top: 1rem;
    border-bottom: 5px solid $mainBlue;

    @mixin atSmall {
      font-size: 1.2rem;
      padding-right: 10rem;
      margin-top: -2rem;
    }
  }

  &--top-margin {
    margin-top: 6rem;

    @mixin atSmall {
      margin-top: 6rem;
    }
  }

  &__list {
    padding-top: 0;
    padding-left: 2rem;
    color: &mainBlue;
    font-size: 1rem;
    line-height: 1.65;
    font-weight: 300;
    letter-spacing: normal;

    @mixin atSmall {
      font-size: 1.125rem;
      padding-left: 4rem;
    }
  }
}
