.info-button {
  margin-top: 2rem;
  padding: 0.6rem 1rem;
  background-color: $mainOrange;
  border: 1px solid $mainOrange;
  align-self: flex-end;
  font-size: 1.1rem;

  & a {
    color: white;
    font-weight: 100;
  }

  &:hover {
    background-color: rgb(250, 250, 250);

    & a {
      color: $mainOrange;
    }
  }
}
