.large-hero {
  position: relative;
  border-bottom: 5px solid $mainBlue;
  margin-top: 0;
  height: auto;
  background-color: #c4bdb4;

  &__image {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  &__wrapper {
    position: relative;
  }

  &__text-content {
    padding: 1rem 1rem;
    position: absolute;
    top: 18%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    width: 56%;
    text-align: center;
    height: auto;

    @mixin 400plus {
      padding: 3rem 3rem;
      top: 10%;
      left: 40px;
      width: 45%;
    }

    @mixin 530plus {
      padding: 3rem 3rem;
      top: 20%;
      left: 15px;
      width: 48%;
    }

    @mixin 800plus {
      padding: 3rem 3rem;
      top: 20%;
      left: 40px;
      width: 40%;
    }

    @mixin 1200plus {
      padding: 6rem 9rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-90%, -40%);
      background-color: rgba(255, 255, 255, 0.4);
      width: 600px;
    }
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
    max-width: 100%;

    @mixin 530plus {
      font-size: 2.2rem;
      line-height: 1.4;
    }

    @mixin 800plus {
      font-size: 2.8rem;
      line-height: 1.4;
    }

    @mixin 1200plus {
      font-weight: 300;
      font-size: 4rem;
      margin: 0 0 4rem 0;
      max-width: 100%;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.4rem;
    margin: 0 0 20px 0;
    max-width: 100%;
    padding: 1rem 0;
    border-top: 1px solid $mainBlue;
    border-bottom: 1px solid $mainBlue;

    @mixin 530plus {
      font-size: 1.8rem;
    }

    @mixin 1200plus {
      font-size: 2.2rem;
    }
  }

  &__description {
    color: $mainBlue;
    -webkit-margin-before: 0.7rem;
    -webkit-margin-after: 1.6em;
    padding: 0.8rem 0;
    font-size: 1.2rem;
    font-weight: 100;
    max-width: 100%;
    margin: 0;

    @mixin 400plus {
      font-size: 1.5rem;
    }

    @mixin 800plus {
      font-size: 1.7rem;
      width: 80%;
      margin: 0 auto;
    }

    @mixin 1060plus {
      /* font-size: 2.4rem; */
    }

    @mixin 1200plus {
      font-size: 2.6rem;
    }

    &-local {
      color: $mainBlue;
      margin-top: 3rem;
      font-size: 1.2rem;
      /* background-color: rgba(122, 128, 144, 0.7); */
      background-color: rgba(196, 189, 180, 0.3);
      padding: 0.6rem 3rem;
      border-radius: 4px;
      width: 100%;
      /* text-shadow: 1px 1px 1px Rgba(0, 0, 0, 0.5); */
      @mixin 1200plus {
        font-size: 1.2rem;
      }
    }
  }

  &__sub-section {
    display: block;
    width: 100vw;
    border-bottom: 5px solid $mainBlue;
    padding: 5.125rem 0 6.8rem 0;
  }

  &__p-button {
    display: block;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 3.2rem;
    margin-bottom: 5.45rem;
  }

  &__p-button a {
    display: inline;
    padding: 16px 28px;
    text-align: center;
  }

  &__cert-image {
    width: 180px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @mixin 800plus {
      margin: 4px 0 0 auto;
      padding: 0 8px 0 0;
    }
  }
}
