.large-hero {
  position: relative;
  /* border-bottom: 5px solid $mainBlue; */
  border-bottom: 0px solid $mainBlue;
  padding-top: 0;
  height: auto;
  background: linear-gradient(90deg, $liteTan, white, $liteTan);

  @mixin 1200plus {
    padding-top: 16rem;
  }

  &__image {
    display: block;
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  &__wrapper {
    position: relative;
  }

  &__text-content {
    padding: 1rem 1rem;
    position: absolute;
    top: 11%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    width: 56%;
    text-align: center;
    height: auto;
    border-radius: 0.8rem;
    border: 1px solid $mainBlue;

    @mixin 400plus {
      padding: 3rem 3rem;
      top: 16%;
      left: 10px;
      width: 55%;
    }

    @mixin 530plus {
      padding: 3rem 3rem;
      top: 16%;
      left: 15px;
      width: 48%;
    }

    @mixin 800plus {
      padding: 3rem 3rem;
      top: 20%;
      left: 40px;
      width: 40%;
      border-radius: 8px 75px 8px 75px;
    }

    @mixin 530plus and (orientation: landscape) and (max-width: 820px) {
      padding: 3rem 3rem;
      top: 15%;
      left: 15px;
      width: 55%;
    }

    @mixin 530plus and (orientation: landscape) and (max-width: 1199px) {
      padding: 3rem 3rem;
      top: 24%;
      left: 15px;
      width: 55%;
    }

    @mixin 1200plus {
      padding: 6rem 9rem;
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-90%, -40%);
      background-color: rgba(255, 255, 255, 0.4);
      width: 600px;
    }
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
    max-width: 100%;

    @mixin 530plus {
      font-size: 2.2rem;
      line-height: 1.4;
    }

    @mixin 800plus {
      font-size: 2.8rem;
      line-height: 1.4;
    }

    @mixin 1200plus {
      font-weight: 300;
      font-size: 4rem;
      margin: 0 0 4rem 0;
      max-width: 100%;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    color: white;
    font-size: 1.4rem;
    margin: 0 0 20px 0;
    max-width: 100%;
    padding: 1rem 0;
    background: $mainBlue;
    border-radius: 4px 20px 4px 20px;

    @mixin 530plus {
      font-size: 1.8rem;
    }

    @mixin 800plus {
      border-radius: 4px 40px 4px 40px;
    }

    @mixin 1200plus {
      font-size: 2.2rem;
    }
  }

  &__description {
    color: $mainBlue;
    background-color: rgba(230, 230, 230, 0.35);
    border: 1px solid #aaa;
    border-radius: 6px;
    -webkit-margin-before: 0.7rem;
    -webkit-margin-after: 1.6em;
    padding: 1.8rem 2rem;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.8rem;
    max-width: 100%;
    margin: 0;

    @mixin 400plus {
      font-size: 1.5rem;
    }

    @mixin 530plus {
      max-width: 80%;
      font-size: 1.8rem;
      line-height: 2.4rem;
      margin: 0 auto;
    }

    @mixin 800plus {
      font-size: 1.7rem;
      width: 80%;
      margin: 0 auto;
      line-height: 3.5rem;
    }

    @mixin 1060plus {
      /* font-size: 2.4rem; */
    }

    @mixin 1200plus {
      font-size: 2.6rem;
    }

    &-local {
      color: $mainBlue;
      text-align: center;
      margin: 1rem auto;
      font-size: 1.5rem;
      /* background-color: rgba(122, 128, 144, 0.7); */
      background-color: rgba(196, 189, 180, 0.3);
      background-color: rgba(255, 255, 255, 0.5);
      padding: 0.6rem 3rem;
      border-radius: 4px;
      width: 90%;

      @mixin 530plus {
        font-size: 2rem;
        line-height: 3rem;
      }

      @mixin 1200plus {
        font-size: 1.8rem;
        width: 70%;
      }
    }
  }

  &__sub-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: rgba(red, 0.75);

    border-bottom: 1px solid $liteMediumGray;
    padding: 5.125rem 0 6.8rem 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(148, 165, 176, 0.2);

    @mixin 530plus {
      flex-direction: row;
      justify-content: center;
      background-position: 5rem 1rem;
      background: rgba(148, 165, 176, 0.4);
    }
  }

  &__p-button {
    display: block;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 0 0 2rem 0;
  }

  &__p-button a {
    display: block;
    padding: 16px 28px;
    text-align: center;

    @mixin 530plus {
      padding: 16px 18px;
    }
  }

  &__cert-image {
    display: block;
    max-width: 270px;

    @mixin 530plus {
      max-width: 140px;
    }

    @mixin 800plus {
      max-width: 340px;
      padding: 0 6rem;
      margin: 0 6rem;
    }
  }
}
