.lone-quote__section {
  border-right: 1.4rem solid $mainBlue;
  border-left: 1.4rem solid $mainBlue;
  border-top: 0px solid transparent;
  border-bottom: 3rem solid $mainBlue;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  margin-bottom: 2rem;
  width: 90%;
  background-color: #ffffff;

  @mixin 800plus {
    border-bottom: 5rem solid $mainBlue;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    margin-bottom: 6rem;
    padding-top: 15rem;
    width: 40%;

    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.5);
  }
}

.lone-quote {
  background: url(../../../images/atf_background2.png), black;
  background-position-y: 200px;
  padding-bottom: 1px;
}
