.modal {
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80vh;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid $mainBlue;
    padding: 0 2rem 0;

    @mixin 530plus {
      width: 90%;
      max-width: 1400px;
      height: 80vh;
      border-radius: 2rem;
      padding: 0 7rem 4rem;
    }

    & .section-title {
      margin-block-start: 0.5rem;
    }
  }

  &__description {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1.65;

    @mixin 530plus {
      padding: 0 12rem;
    }
  }

  @mixin 530plus {
    font-size: 2rem;
  }

  &__close {
    display: block;
    text-align: right;
    font-size: 3.2rem;
    transform: scaleX(1.2);
    color: $mainOrange;
    cursor: pointer;
    z-index: 150;
    width: 70vw;
    position: relative;
    top: 1rem;

    @mixin 530plus {
      width: 50rem;
    }

    &:hover {
      color: $mainOrange;
    }
  }

  &__icon {
    position: relative;
    top: 10px;
    right: 10px;
  }
}
