.page-section {
  padding: 6.2rem 0 3.2rem 0;

  @mixin 800plus {
    padding: 7rem 0 18rem 0;
    /* margin-top: 7rem; */
  }

  &--blue {
    background-color: $mainBlue;
    color: white;
  }

  &--tan {
    background-color: $mainTan;
    /* color: white; */
  }

  &--lite-tan {
    background-color: $liteTan;
    /* color: white; */
  }

  &--gradient-tan {
    background: radial-gradient(circle, white, $mainTan);
    /* color: white; */
  }

  &--gradient-tan-mix {
    background: radial-gradient(circle, $liteGray, $liteMediumGray);
    @mixin 800plus {
      background: radial-gradient(
        circle,
        white,
        white,
        $liteGray,
        $liteMediumGray
      );
    }
  }

  &--outline {
    border-top: 1px solid $mainBlue;
    border-bottom: 1px solid $mainBlue;
  }

  &--achievers {
    background-color: #e0e6ef;

    @mixin 1200plus {
      background: url("/assets/images/achievers-bg.jpg") top center no-repeat;
      background-size: cover;
    }
  }
}
