.primary-nav {
  display: block;
  width: 100%;
  padding-top: 0;

  ul {
    margin: 0;
    padding: 0;
    @mixin: clearfix;
  }

  li {
    list-style: none;
    padding-right: 0px;
    display: inline-block;
    padding-bottom: 2rem;
    font-size: 1.4rem;

    @mixin 800plus {
      font-size: 1.4rem;
      float: left;
      display: block;
      padding-right: 20px;
      padding-bottom: 0;
    }
  }

  li:last-child {
    padding-right: 0;
    padding-bottom: 8rem;

    @mixin 800plus {
      padding-right: 20px;
      padding-bottom: 0;
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 8px 12px;
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 12px;

    &.is-current-link {
      color: #fabb69;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.65);
    }
  }

  a:hover {
    color: slategray;
    animation: link-anim 2s infinite;
  }

  @-webkit-keyframes link-anim {
    0% {
      font-size: 1.6rem;
    }
    60% {
      font-size: 3.2rem;
    }
    100% {
      font-size: 1.6rem;
    }
  }

  @keyframes link-anim {
    0% {
      font-size: 1.6rem;
    }
    60% {
      font-size: 3.2rem;
    }
    100% {
      font-size: 1.6rem;
    }
  }
}
