.primary-nav {
  display: block;
  width: 100%;
  overflow: visible;
  height: 0;
  padding-top: 0;

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    @mixin 530plus and (orientation: landscape) and (max-width: 799px) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
    }
  }

  li {
    list-style: none;
    padding-right: 0px;
    display: inline-block;
    padding-bottom: 0;
    font-size: 1.4rem;

    @mixin 530plus and (orientation: landscape) and (max-width: 799px) {
      display: inline-block;
      width: 100%;
    }

    @mixin 800plus {
      font-size: 1.4rem;
      /* float: left; */
      display: block;
      padding-right: 20px;
      padding-bottom: 0;
    }
  }

  li:first-of-type {
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 2rem;

    @mixin 400plus {
      padding-right: 20px;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  li:last-of-type {
    padding-right: 0;
    padding-bottom: 1rem;

    @mixin 800plus {
      padding-right: 20px;
      padding-bottom: 0;
    }
  }

  li:last-child {
    padding-right: 0;
    padding-bottom: 1rem;

    @mixin 800plus {
      padding-right: 20px;
      padding-bottom: 0;
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 16px 12px;
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 12px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    @mixin 800plus {
      padding: 8px 10px;
    }

    &:hover {
      color: $hoverGray;

      text-shadow: none;
    }

    &.is-current-link {
      color: #fabb69;
      text-shadow: 1px 1px 0 rgba($mainBlue, 0.65);
    }
  }
}
