.primary-nav {
  padding-top: 10px;

  @mixin atSmall {
    padding-top: 0;
  }
  @mixin atMedium {
    padding-top: 0;

    @mixin atXLarge {
      padding-top: 0;
    }
  }

  &--pull-right {
    @mixin atMedium {
      float: right;
    }
    @mixin atTabLand {
      float: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin: clearfix;
  }

  li {
    list-style: none;
    padding-right: 0px;
    display: inline-block;
    font-size: 1.4rem;

    @mixin atMedium {
      font-size: 1.4rem;
      float: left;
      display: block;
      padding-right: 20px;
    }
  }

  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 8px 12px;
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 12px;

    &.is-current-link {
      color: #fabb69;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.65);
    }

    @mixin atXSmall {
      padding: 3px 8px;
    }

    @mixin atLarge {
      font-size: 1.8rem;
    }

    @mixin atXLarge {
      padding: 1px 8px;
    }

    @mixin atMax1200 {
      padding: 2px 8px;
    }

    @mixin atMax450 {
      padding: 4.2px 8px;
    }

    @mixin atTabLand {
      font-size: 1.6rem;
      padding: 12px;
      margin-top: 0;
      margin-bottom: 0;

      &.is-current-link {
        color: #fabb69;
      }
    }

    @mixin atXSmall {
      padding: 6px 8px;
    }

    @mixin atIpadProTargetPort {
      padding: 0 12px;
      margin-top: -6px;
    }
  }
}
