.reveal-item {
  opacity: 0;
  transition: all 1.5s ease-out;
  transform: scale(1.15);
  margin-left: auto;
  margin-right: auto;

  @mixin 530plus {
  }

  @mixin 1200plus {
  }

  &--is-visible {
    opacity: 1;
    transform: scale(1);
  }

  &--is-visible p {
    padding: 2rem 3rem 3rem 3rem;
    font-size: 1.6rem;

    @mixin 1200plus {
      padding: 3rem 4rem 3rem 5rem;
    }
  }
}
