.row {
  position: relative;
  display: block;
  width: 100%;
  @mixin clearfix;

  margin-left: 0;
  margin-right: 0;

  &--t-padding {
    padding-top: 30px;

    @mixin atSmall {
      padding-top: 16px;
    }

    @mixin atLarge {
      padding-top: 80px;
    }
  }

  &--t-padding-slight {
    padding-top: 12px;

    @mixin atMedLand {
      padding-top: 0;
    }
  }

  &--image {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  &__b-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &__b-until-medium {
      margin-bottom: 0;
    }

    &__medium-3 {
      float: left;
      width: 25%;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      /* float: left; */
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }

    &__medium-9 {
      float: left;
      width: 75%;
      padding-right: 50px;
    }

    &__medium-12 {
      /* float: left; */
      width: 100%;
    }
  }

  @mixin atLarge {
    &__b-until-large {
      margin-bottom: 0;
    }

    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }

    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-8--smaller {
      width: 63%;
    }
  }

  /* begin equal height rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    @mixin atTabLand {
      flex-wrap: wrap;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
