.section-title {
  font-size: 3.2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
  text-align: center;

  @mixin 800plus {
    font-size: 3.2rem;
    margin-top: 5rem;
    margin-bottom: 8rem;
  }

  & p {
    margin-top: 1rem;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;

    @mixin 800plus {
      max-width: 60%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__icon {
    display: inline;
    width: 6rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -0.8rem;
  }

  &__extra-b-margin {
    margin-bottom: 11rem;

    @mixin 800plus {
      margin-bottom: 6rem;
    }

    @mixin 1200plus {
      margin-bottom: 8rem;
    }
  }
}
