.site-header {
  padding: 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: background-color 0.3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, 1);
    border-bottom: 3px solid $mainBlue;
  }

  @mixin 530plus {
    padding: 0 0 0 0;
    position: fixed;
  }

  @mixin 800plus {
    position: fixed;
    padding: 0;
    max-height: auto;
    /* background-color: rgba(47, 85, 114, 0.3); */

    &--dark {
      /* background-color: rgba(23, 51, 72, 0.85); */
    }
  }

  @mixin 1200plus {
    background-color: rgba(47, 85, 114, 0.45);
    &--dark {
      background-color: rgba(23, 51, 72, 0.85);
    }
  }

  &__btn-container {
    margin-top: 20px;

    @mixin atSmall {
      float: right;
    }

    @mixin atXSmall {
      margin-top: 20px;
    }

    @mixin atMedium {
      float: right;
    }

    @mixin atMax1200 {
      margin-top: 0;
    }

    @mixin atXLarge {
      margin-top: 2px;
    }

    @mixin atTabLand {
      margin-top: 0;
    }
  }

  &__logo {
    position: relative;
    float: left;
    /* width: 100vw; */
    transform: translateX(0) scale(1.4 0.9);
    transition: transform 0.3s ease-out;
    transform-origin: 0 0;
    background-color: $logo;
    padding: 12px 36px 8px 16px;

    /* @mixin atSmall {
      width: 100vw;
      opacity: 0.85;
      background-color: $mainBlue;
      transform-origin: 0 0;
    } */

    @mixin atMax800 {
      width: 100vw;
      opacity: 0.85;
      background-color: $mainBlue;
      transform-origin: 0 0;
    }

    @mixin atMax450 {
      position: absolute;
      top: 0;
      left: 0;
    }

    @mixin atMedium {
      /* width: 40rem; */
      opacity: 1;
      left: 0;
      transform: scale(1.5);

      padding: 18px 36px 23px 36px;

      .site-header--dark & {
        /* transform: scale(0.65); */
        transform: scale(1);
      }
    }

    @mixin atXLarge {
      padding: 18px 36px 15px 36px;
    }

    @mixin atTabLand {
      width: 100vw;
      opacity: 0.85;
      padding: 14px 36px 8px 36px;

      .site-header--dark & {
        transform: scale(1);
      }
    }

    &--icon {
      width: 40px;
      margin-right: 1.6rem;

      @mixin atTabLand {
        width: 30px;
      }
    }
  }

  &__logo__text {
    position: relative;
    top: 0;
    font-family: "Play", "Open Sans", sans-serif;
    font-weight: 300;
    /* text-indent: -9999px; */
    display: inline-block;
    font-size: 2.25rem;
    max-width: 320px;
    text-align: center;
    height: auto;
    color: white;

    @mixin atSmall {
      position: relative;
      top: 0;
      max-width: 300px;
      font-size: 2.25rem;
    }

    @mixin atTabLand {
      font-size: 2.2rem;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: $mainOrange;
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: $mainOrange;
      transition: all 0.3s ease-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: $mainOrange;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    @mixin atXLarge {
      display: none;
    }

    @mixin atTabLand {
      display: inline;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.02);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.02) translateY(1px);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 55px;
    text-align: center;

    @mixin atSmall {
      width: 100vw;
      padding-top: 0;
      margin-left: -60px;
      margin-bottom: -5px;
    }

    @mixin atMax1200 {
      padding-top: 58px;
      margin-left: 0px;
    }

    @mixin atMax800 {
      width: 100%;
      margin-left: 0;
    }

    @mixin atMax380 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    @mixin at750to799 {
    }

    @mixin atLarge {
      width: 100%;
    }

    @mixin atXLarge {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
      width: 100%;
    }

    @mixin atTabLand {
      opacity: 0;
      /* background-color: $mainBlue; */
      transform: scale(1.3);
    }

    @mixin atSmallLand {
      width: 100vw;
    }

    @mixin atMedLand {
      margin-left: 20px;
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }

  &__wrapper {
    overflow: visible;
    padding-left: 0;
    padding-right: 0;

    @mixin atSmall {
    }

    @mixin atMax800 {
      overflow: visible;
    }

    @mixin atTabLand {
      max-width: 100%;
    }

    @mixin at750to799 {
      max-width: 100%;
    }
  }

  & ul {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;

    @mixin atMax420 {
      flex-direction: column;
      align-items: center;
    }
  }

  & ul li {
    display: flex;
    border: 2px solid transparent;
  }
}
