.site-header {
  padding: 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: background-color 0.3s ease-out;

  overflow: visible;
  height: 50px;

  &--is-expanded {
    background-color: rgba($mainBlue, 1);
    border-bottom: 0px solid $mainBlue;
    height: 100%;
  }

  @mixin 530plus {
    padding: 0 0 0 0;
    position: fixed;
    height: 130px;
  }

  @mixin 530plus and (orientation: landscape) {
    padding: 0 0 0 0;
    position: fixed;
    height: 130px;
  }

  @mixin 800plus {
  }

  @mixin 1200plus {
    background-color: rgba(47, 85, 114, 0.45);

    height: 70px;
    &--dark {
      background-color: rgba(23, 51, 72, 0.85);
      height: 70px;
    }
  }

  &__btn-container {
    margin-top: 20px;
  }

  &__logo {
    display: block;
    position: relative;
    transform: translateX(0) scale(1.4 0.9);
    transition: all 0.4s ease-out;
    transform-origin: -1.7rem -1.3rem;
    background-color: $logo;
    padding: 12px 36px 8px 16px;

    @mixin 530plus {
      opacity: 1;
      left: 0;
      transform: scale(1.9);
      max-width: 200px;
      padding: 10px 20px 11px 20px;
      border-radius: 0.3rem;

      .site-header--dark & {
        transform: scale(1.3);
        background-color: rgba(23, 51, 72, 0.45);

        @mixin 800plus and (orientation; landscape) and (max-width: 1199px) {
          transform: scale(1.1);
        }
      }
    }

    @mixin 800plus and (orientation; landscape) and (max-width: 1199px) {
      /* transform: scale(1.3); */
      max-width: 200px;
      padding: 10px 20px 11px 20px;
    }

    &--icon {
      width: 40px;
      margin-right: 1.6rem;
    }
  }

  &__logo__text {
    position: relative;
    top: 0;
    font-family: "Play", "Open Sans", sans-serif;
    font-weight: 300;
    display: inline-block;
    font-size: 1.8rem;
    max-width: 320px;
    text-align: center;
    height: auto;
    color: white;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;

    @mixin 530plus and (orientation: landscape) and (max-width: 799px) {
      right: 65px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: $mainOrange;
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: $mainOrange;
      transition: all 0.3s ease-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: $mainOrange;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    @mixin 1200plus {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.02);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.02) translateY(1px);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }
  }

  &__menu-content {
    display: inline-block;
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 5px;
    text-align: center;
    width: 100vw;
    transform: translateX(100vw);

    @mixin 800plusland {
      grid-column: 1/4;
    }

    @mixin 1200plus {
      grid-column: 3/4;
      grid-row: 1;
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
      width: 100%;
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;

      transform: translateX(0);
      transform: scale(1);
    }
  }

  &__wrapper {
    overflow: visible;
    padding-left: 0;
    padding-right: 0;

    @mixin 800plus {
      display: grid;
      grid-template-columns: 200px 200px 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @mixin 800plus {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
    }
  }

  & ul li {
    display: flex;
    border: 2px solid transparent;
  }
}
