.site-footer {
  background-color: $mainBlue;
  color: white;
  padding: 3.8rem 0;
  text-align: center;

  & .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }

  &__text {
    display: block;
    margin-bottom: 1.6rem;
    font-weight: 200;

    @mixin 800plus {
      display: inline;
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }

  &--copyright {
    display: block;
    align-self: flex-end;
  }

  &--contact-button {
  }

  &--paypal {
    display: block;
    width: 100%;
  }
}
