.site-footer {
  background-color: $mainBlue;
  color: white;
  padding: 1.8rem 0;
  text-align: center;

  @mixin 800plus {
    padding: 3.8rem 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1420px;

    @mixin 800plus {
    }
  }

  &__text {
    display: block;
    margin-bottom: 1.6rem;
    font-weight: 200;

    @mixin 800plus {
    }
  }

  &--copyright {
    z-index: 3;
    transform: translateY(1rem);

    @mixin 800plus {
    }

    @mixin 530plus and (max-width: 1199px) {
    }
  }

  &--contact-button {
    z-index: 1;

    @mixin 800plus {
    }

    @mixin 530plus and (max-width: 1199px) {
    }
  }

  &--paypal {
    z-index: 1;

    @mixin 800plus {
    }

    @mixin 530plus and (max-width: 1199px) {
    }
  }
}
