.testimonial {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 18px 1px 18px;
  margin-bottom: 98px;

  @mixin atSmall {
    padding: 0 2.4rem 1px 2.4rem;
    margin-bottom: 130px;
  }

  @mixin atLarge {
    padding: 0 2.9rem 1px 2.9rem;
    margin-bottom: 0;
  }

  @mixin atLarge {
    padding: 0 2.9rem 1px 2.9rem;
    margin-bottom: 0;
  }

  @mixin atXLarge {
    padding: 0 0 1px 0;
    margin-bottom: 0;
  }

  @mixin atTabLand {
    padding: 0 6.4rem 1px 6.4rem;
    height: auto;
    margin-bottom: 130px;
  }

  @mixin atSmallLand {
    height: auto;
    padding: 0 0.4rem 1px 0.4rem;
  }

  &__photo {
    border-radius: 80px;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto -70px auto;
    position: relative;
    top: -80px;
    border: 6px solid rgba(255, 255, 255, 0.8);
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
  }

  &__title {
    color: $mainBlue;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    color: $mainOrange;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0.4rem 0 1.6rem 0;
  }

  &--last {
    margin-bottom: 40px;

    @mixin atSmall {
      margin-bottom: 0;
    }
  }

  & p {
    padding: 0 1.6rem;

    @mixin atSmall {
      padding: 0 1.6rem 3.2rem 1.6rem;
      font-size: 1.8rem;
    }

    @mixin atLarge {
      padding: 0;
    }

    @mixin atTabLand {
      font-size: 1.6rem;
    }
  }

  &.reveal-item {
    @mixin atSmallLand {
      margin-top: 100px;
    }
  }
}

.item {
  align-self: stretch;
}
