.wrapper {
  display: relative;
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &__wide {
    display: relative;
    overflow: hidden;
    max-width: 1420px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* &--medium {
    max-width: 976px;
  }

  &--narrow {
    max-width: 470px;
  }

  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin 800plus {
      padding-left: 18px;
      padding-right: 18px;
    }
  } */

  /* &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;

    @mixin 1200plus {
      padding-left: 18px;
      padding-right: 18px;
    }
  } */

  /* &--b-margin {
    margin-bottom: 1.6rem;

    @mixin 530plus {
      margin-bottom: 6.2rem;
    }
  } */

  /* &--b-padding {
    padding-bottom: 1.6rem;

    @mixin 530plus {
      padding-bottom: 6.2rem;
    }
  } */
}
